<a id='Capstone2: Predict which homes currently for sale would meet the requirements of a real estate investor'></a>

### 1.1 Capstone 2: Real Estate Investment Prediction

The purpose of this data science project is to come up with a model that predicts if an available house would meet the requirement of a real estate investor.

There are many homes on the market and they sell extremely quickly. It's difficult for an investor to calculate capitalization rate and look at the neighborhood when most houses list mid-week and are sold by Sunday. One of the investors I spoke with has an intuitive sense of why he purchases in the particular neighborhoods and at a particular price-point, but he has to drive around to get a 'feel' for the property; when purchasing in a new city, he has to fly there and look at it in person. This isn't efficient. Which characteristics of a property truly mean most to an investor? Can we use data to tell the investor the source of his intuitive 'feel'?

This project aims to build a predictive model which will suggest which of the currently available homes would meet an investor's criteria, using both the inventory of the individual investor I spoke with, and the inventory of one of the largest home-rental companies in the United States, and school demographic data for schools with enrollment based on geographical boundaries.

## 1.2 Imports & Keys

In [1]:
# Import packages
# Store the API keys and APP IDs as strings

import requests, json
import pandas as pd
from ast import literal_eval
import numpy as np

#create config.py file with your key, and add a .gitignore file with the name of the credential 
#file (i.e. config.py) so that your key isn't exposed to the world on GitHub if pushing there.
# import Configmel

SCHOOLDIGGER_APP_KEY = 'XXX'
SCHOOLDIGGER_API_KEY = 'XXX'

## 1.3 Corporate Investor Portfolio Data

### 1.3.1 Load the Corporate Investor Inventory Data

The first data to import is the inventory data from the large corporate investor. This company does not have an API, but the call their website uses to query their database was available through the developer console. I modified the call to include a suitable polygon of the Denver metro area (approximately the area banded by the beltway).

In [31]:
# Get inventory data from Invitation Homes website using a website taken fron the console and modifying the call.
# Store the data as text.

invitation_url = "https://lease.invitationhomes.com/api/search-v2?sort=(by:distance,dir:asc)&center=(lat:39.739236,lng:-104.990251)&bounds=(east:-104.50630325447565,north:40.06708178814617,south:39.40982316328329,west:-105.47419874552435)&filters=()&amenities=()&offset=0&limit=1000&legacy=false"
r_inv = requests.get(invitation_url)
json_data_inv = r_inv.json()

In [32]:
# Print the response code and confirm the data type of the file created. 
print(r_inv.status_code, type(json_data_inv))

200 <class 'dict'>

In [33]:
# Create a dataframe from the inventory data using the relevant column names, and display the first 5 rows. 

corporate_inv = pd.DataFrame(json_data_inv['results'], columns=['property_code', 'address_1', 'city', 'state', 'zipcode', 'beds',
                                                'baths', 'sqft', 'market_rent', 'lat', 'lng'])
corporate_inv.head()

,property_code,address_1,city,state,zipcode,beds,baths,sqft,market_rent,lat,lng
0,10062918,1360 S Tejon St,Denver,CO,80223,3,2.00,1887,2720.00,39.69200,-105.01143
1,10063975,3625 Fairfax St,Denver,CO,80207,3,1.50,1355,2365.00,39.76798,-104.92849
2,10064043,3690 Magnolia St,Denver,CO,80207,3,1.00,1544,2165.00,39.76843,-104.91145
3,10110597,1965 Rosemary St,Denver,CO,80220,3,2.00,1463,2600.00,39.74659,-104.90021
4,10050170,5631 W 71st Cir,Arvada,CO,80003,4,2.50,1502,2913.00,39.82600,-105.06000

In [34]:
# How many properties are included currently in the corporate investor inventory available on the web? 
corporate_inv.shape

(45, 11)

Let's check the datatypes, and if necessary, clean them up. Here's what we expect, looking at the head of the dataframe:
'property_code', 'zipcode', 'beds', 'sqft': int64; 
'address_1', 'state': object; 
'baths', 'market_rent', 'lat', 'lng': float.

In [44]:
corporate_inv.dtypes

property_code     object
address_1         object
city              object
state             object
zipcode           object
beds               int64
baths             object
sqft               int64
market_rent       object
lat              float64
lng              float64
dtype: object

This is problematic because we cannot sort or manipulate by property code, for instance, if the property codes are sometimes strings and sometimes integers. Let's make the datatypes consistent.

In [47]:
# Create a dictionary of datatypes then pass the string to the 'astype' method
data_types_dict = {'property_code': int, 'address_1': str, 'city': str, 'state': str, 'zipcode': int, 'beds': int, 
                  'baths': float, 'sqft': int, 'market_rent': float, 'lat': float, 'lng': float}
corporate_inv = corporate_inv.astype(data_types_dict)
corporate_inv.dtypes

property_code      int32
address_1         object
city              object
state             object
zipcode            int32
beds               int32
baths            float64
sqft               int32
market_rent      float64
lat              float64
lng              float64
dtype: object

The datatypes now look appropriate; we can move on to manipulating the data.

### 1.3.2 Concatenate DataFrames and Check for Duplicates

There are approximately 30 records in our new dataframe, but the corporate investor probably owns far more. Due to the difficulty of collecting their portfolio holdings (properties are owned under multiple corporate names in multiple counties in this metro area), we will run this periodically and concatenate the new listings to the previously aquired listings, which have been saved locally, and check for duplicates. If done repeatedly, this list should grow over time. 

To summarize, we already have  cache of data. We need to load the previously collected data into a dataframe, concatenate the old/new dataframes, compare for duplicates, clean up the dataset (look for missing values), and write the resulting dataframe back to the csv.

In [48]:
# Load the previously collected data from a csv into a new df, and print the head
corporate_old = pd.read_csv('../data/corporate_properties.csv')

In [49]:
# Combine the old and new inventory dfs and reset the index
inventory_combined = pd.concat([corporate_old, corporate_inv]).reset_index(drop=True)

In [50]:
#Print the head and shape of the combined df.
print(inventory_combined.head(), inventory_combined.shape)

   property_code           address_1           city state  zipcode  beds  \
0       10062812      10017 Beach St         Denver    CO    80260     3
1       10115089  10062 Milwaukee St       Thornton    CO    80229     3
2       10000753  10627 Kittredge St  Commerce City    CO    80022     3
3       10000946  10944 Bellaire Way       Thornton    CO    80233     4
4       10110559     11062 Wolff Way    Westminster    CO    80031     3

   baths  sqft  market_rent       lat        lng
0    2.0  1320       2330.0  39.87954 -105.01733
1    2.5  1591       2545.0  39.87842 -104.95208
2    2.5  1993       2939.0  39.88982 -104.80151
3    2.0  1800       2485.0  39.89548 -104.93625
4    2.5  2142       2845.0  39.89730 -105.04747   (96, 11)

In [53]:
# Sort the values by the unique field 'property_code' and drop duplicates. 
inventory_combined.sort_values('property_code', inplace=True)
pd.DataFrame.drop_duplicates(inventory_combined, subset = ['property_code'], inplace=True)
inventory_combined.shape

(51, 11)

Count the number of missing values in each column and sort them.

In [54]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#combined_inventory as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([inventory_combined.isnull().sum(), round(100 * inventory_combined.isnull().mean(), 2)], axis=1)
missing.columns=["Count", "%"]
missing.sort_values('Count', inplace=True, ascending=False)
missing.head(15)

               Count    %
property_code      0  0.0
address_1          0  0.0
city               0  0.0
state              0  0.0
zipcode            0  0.0
beds               0  0.0
baths              0  0.0
sqft               0  0.0
market_rent        0  0.0
lat                0  0.0
lng                0  0.0

There aren't any missing values in this dataset!

In [28]:
# If there are any missing values, remove the entire row (because data from Invitation should be complete
# unless there is an error)
inventory_combined.dropna(inplace=True)
inventory_combined.shape

(51, 11)

In [55]:
# Write the combined dataframe back to the csv. Overwrite the old file.
inventory_combined.to_csv('../data/corporate_properties.csv', index = False, header = True)

## 1.4 Individual Investor Data

### 1.4.1 Load the Individual Investor Dataset

The second dataset to load into memory and examine is the .csv containing our individual investor's portfolio of local real estate investments.

In [59]:
# Create a second dataframe from the inventory from private individual investor (obtained from the investor)
# Print the first 5 rows.
ind_inv = pd.read_csv('../raw_data/individualinvestor_properties.csv')
ind_inv = dwyer_inv[['Site Address', 'City', 'Mail State', 'Mail Zip', 'County', 'Status Notes', ]]
print(ind_inv.head(), ind_inv.shape)

          Site Address     City Mail State  Mail Zip   County Status Notes
0        3692 CHASE CT  Boulder         CO     80307  Boulder          NaN
1     424 S LASHLEY LN  Boulder         CO     80307  Boulder          NaN
2  3035 ONEAL PKWY 41S  Boulder         CO     80307  Boulder          NaN
3      285 SEMINOLE DR  Boulder         CO     80307  Boulder          NaN
4         840 FAITH CT  Boulder         CO     80303  Boulder          NaN (24, 6)

### 1.4.2 Examine and Clean the Data

I see that this data does not contain the square footage, current rent or lat/long location. This information may be difficult to put to use, unless I can find a way to automate the return of at least the square footage from the county assessor's site or another real estate repository. There are some unnecessary spaces between the street number and street name in the 'Site Address' column. Also, what is in the 'Status Notes' column? Let's look at missing data.

In [60]:
# Replace any number of spaces in 'Site Address' with one space
ind_inv['Site Address'] = ind_inv['Site Address'].str.replace('\s{2,}', ' ')
print(ind_inv.head(1))

    Site Address     City Mail State  Mail Zip   County Status Notes
0  3692 CHASE CT  Boulder         CO     80307  Boulder          NaN

<ipython-input-60-beec9552eb28>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  ind_inv['Site Address'] = ind_inv['Site Address'].str.replace('\s{2,}', ' ')

In [61]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#combined_inventory as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([ind_inv.isnull().sum(), round(100 * ind_inv.isnull().mean(), 2)], axis=1)
missing.columns=["Count", "%"]
missing.sort_values('Count', inplace=True, ascending=False)
missing.head(15)

              Count      %
Status Notes     16  66.67
Site Address      0   0.00
City              0   0.00
Mail State        0   0.00
Mail Zip          0   0.00
County            0   0.00

It looks like all of the missing data is within 'Status Notes'.

In [62]:
# Look at all the unique values within the column, 'Status Notes'
ind_inv['Status Notes'].unique()

array([nan, 'Multi (3)', 'Multi', 'MH In Park',
       'Single Family Residential', 'Mobile Home Parks'], dtype=object)

It looks like 'Status Notes' contains information about the type of properties, including whether something is a multi-family property or a mobile home. The scope of this study is single family residences, only. We can delete all entries denoted as multi or mobile home. We will keep only rows with 'Status Notes' entry of 'Single Family Residential' or NaN.

In [63]:
# Make a list of 'Status Notes' values that we will keep
status_options = ['Single Family Residential', np.nan] 
    
# selecting rows based on condition 
ind_inv = ind_inv[ind_inv['Status Notes'].isin(status_options)] 
ind_inv.shape

(17, 6)

There are 17 properties left in this dataset. It is possible that we will not use this dataset for the initial model.

### 1.4.3 Save the Investor Data Locally

In [64]:
ind_inv.to_csv("../data/individualinvestor_properties.csv", index = False)

## 1.5 SchoolDigger API Data

Next, we can use the SchoolDigger API to get the school information and demographics. Per their documentation (developer.schooldigger.com), other characteristics of the school such as the percentage of students receiving free lunch, and the percentages of various ethnicities of the students, are also available.

### 1.5.1 Load Data through API

Create the url as per the schooldigger documentation to include rankings from 2020, the shape of the denver metro area in question (the same as that called for the corporate investorproperties) and max per page, which is 50. We will not look at the private, virtual, charter and magnet schools. We will iterate the call to gather all of the data.

First, we will call the first page of the response and check the JSON for the number of pages in the complete set.

In [72]:
url = 'https://api.schooldigger.com/v1.2/schools?st=CO&boxLatitudeNW=40.06708178814617&boxLongitudeNW=-105.47419874552435&boxLatitudeSE=39.40982316328329&boxLongitudeSE=-104.50630325447565&perPage=50'   
url_params = {     # Parameters passed to the API
    "page": 1,  # We are going to iterate the page number
    "level": "Public",
    "isCharter": "False",
    "isVirtual": "False",
    "isMagnet": "False",
    "appID": "XXX",
    "appKey": "XXX"
    }
    
r = requests.get(url, params=url_params)

# 'schoolList' per API documentation contains needed data
# Create initial dataframe
firstpage = r.json()
df1 = pd.DataFrame.from_dict(firstpage['schoolList'])

In [133]:
# Get the total number of pages to be returned from the JSON
num_pages = firstpage['numberOfPages']
print(num_pages)

14

In [134]:
def get_schools(page_num): 
# This function launches the request for all school data in the Denver region.

# Parameters passed to the API
    url = 'https://api.schooldigger.com/v1.2/schools?st=CO&boxLatitudeNW=40.06708178814617&boxLongitudeNW=-105.47419874552435&boxLatitudeSE=39.40982316328329&boxLongitudeSE=-104.50630325447565&perPage=50'   
    url_params = {     
    "page": page_num,  
    "level": "Public",
    "isCharter": "False",
    "isVirtual": "False",
    "isMagnet": "False",
    "appID": "XXX",
    "appKEY": "XXX"    
    }

    
    response = requests.get(url, params=url_params)
    return response.json()

# Iterate over the page_num up to the max number of pages. Call the get_schools function and append result to the dataframe. 
for page_num in range(2,(num_pages + 1)) : 
    try:
            output_json = get_schools(page_num) 
            df2 = pd.DataFrame.from_dict(output_json['schoolList'])
            df1 = df1.append(df2)

    except AttributeError:
            print("error at ", page_num)

In [135]:
# Save the raw file to local computer. Altered the keys so that I cannot accidentally make the call again (paid API)
df1.to_csv("../raw_data/school_digger.csv", index = False)

In [136]:
# Load the dataframe back from the local file, for testing without running above code.  
schooldigger_raw_df = pd.read_csv("../raw_data/school_digger.csv")

### 1.5.2 Narrow Down the Dataset for Desired Fields

In [80]:
# List the column names of the data
print(schooldigger_raw_df.columns)

Index(['schoolid', 'schoolName', 'phone', 'url', 'urlCompare', 'address',
       'lowGrade', 'highGrade', 'schoolLevel', 'isCharterSchool',
       'isMagnetSchool', 'isVirtualSchool', 'isTitleISchool',
       'isTitleISchoolwideSchool', 'district', 'county', 'rankHistory',
       'rankMovement', 'schoolYearlyDetails', 'isPrivate', 'privateDays',
       'privateHours', 'privateHasLibrary', 'privateCoed',
       'privateOrientation', 'hasBoundary'],
      dtype='object')

Because we did not include any virtual schools, magnet schools, charter schools, or private schools in the call to the API, we can safely delete those columns of the dataframe. We also do not need the url, urlcompare, the phone number, and some other superfluous columns for this project.

In [81]:
# Make a list of columns to keep and then keep just those columns. 
# Print out the new list of columns to confirm changes.
keep_columns = ['schoolid', 'schoolName', 'address', 'lowGrade', 'highGrade', 'schoolLevel', 'district', 'county',
                'rankMovement', 'schoolYearlyDetails', 'hasBoundary']
schooldigger_raw_df = schooldigger_raw_df[keep_columns]
print(schooldigger_raw_df.columns)

Index(['schoolid', 'schoolName', 'address', 'lowGrade', 'highGrade',
       'schoolLevel', 'district', 'county', 'rankMovement',
       'schoolYearlyDetails', 'hasBoundary'],
      dtype='object')

### 1.5.3 Correct Data Types, and Unnest Lists and Dictionaries within the SchoolDigger set

Some nice data is under 'schoolYearlyDetails' as a nested list, and under 'address', 'district' and 'county' as dictionaries.

In [82]:
# Display the type of data in columns
list_strings = ['schoolYearlyDetails','address', 'county', 'district']
for column in list_strings:    
    print(type(schooldigger_raw_df[column][0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

These fields are currently strings, so first we need to change them dict / list.

In [83]:
# Use literal_eval to change strings to list/dict and print out the current data type of those series. 
for column in list_strings:
    schooldigger_raw_df[column] = schooldigger_raw_df[column].apply(lambda x: literal_eval(str(x)))
for column in list_strings:    
    print(type(schooldigger_raw_df[column][0]))

<class 'list'>
<class 'dict'>
<class 'dict'>
<class 'dict'>

We can use the pandas json_normalize function to flatten the dictionaries within the 'address', 'county', and 'district' columns.

In [86]:
# Use panda's json_normalize to flatten the dictionaries within the columns.
df_address = pd.json_normalize(schooldigger_raw_df['address'])
df_county = pd.json_normalize(schooldigger_raw_df['county'])
df_district = pd.json_normalize(schooldigger_raw_df['district'])

In [87]:
# Reset all of the indexes
df_address.reset_index(drop=True, inplace=True)
df_county.reset_index(drop=True, inplace=True)
df_district.reset_index(drop=True, inplace=True)
schooldigger_raw_df.reset_index(drop=True, inplace=True)

In [88]:
# Look at the data in the 'county' df. We will only keep the 'countyName' column, because the other column contains
# URLs back to the API website which generate 404 errors. 
print(df_county.columns)
print(df_county.head())

Index(['countyName', 'countyURL'], dtype='object')
       countyName                                          countyURL
0   Denver County  https://www.schooldigger.com/go/CO/county/Denv...
1   Denver County  https://www.schooldigger.com/go/CO/county/Denv...
2    Adams County  https://www.schooldigger.com/go/CO/county/Adam...
3  Douglas County  https://www.schooldigger.com/go/CO/county/Doug...
4    Adams County  https://www.schooldigger.com/go/CO/county/Adam...

In [89]:
# look at the data in the 'district' df. We will only keep the 'districtName', because again the other columns contain
# URLs, and we will not be using the 'districtID'
print(df_district.columns)

Index(['districtID', 'districtName', 'url', 'rankURL'], dtype='object')

In [90]:
# Look at the data in the 'address' df. We will keep the street, city, state, zip, latitude and longitude.
# We will drop the full state name, the zip+4, and the URLs back to the API source. 
print(df_address.columns)

Index(['street', 'city', 'state', 'stateFull', 'zip', 'zip4', 'cityURL',
       'zipURL', 'html', 'latLong.latitude', 'latLong.longitude'],
      dtype='object')

In [91]:
# Now concatentate the normalized columns to the main df, and drop all of the unwanted columns as discussed above. 
schooldigger_explode_df = pd.concat([schooldigger_raw_df, df_address, df_county, df_district], axis=1)
schooldigger_explode_df.drop(['address', 'stateFull', 'cityURL', 'zipURL', 'html', 'countyURL', 'url', 'rankURL', 
                         'district', 'districtID', 'county'], axis = 1, inplace=True)

In [92]:
#schooldigger_explode_df.reset_index(drop=True, inplace=True)
print(schooldigger_explode_df.head(2))

      schoolid                   schoolName lowGrade highGrade schoolLevel  \
0  80336000305  Abraham Lincoln High School        9        12        High
1  80336001750  Academia Ana Marie Sandoval       PK         6  Elementary

   rankMovement                                schoolYearlyDetails  \
0         -12.0  [{'year': 2020, 'numberOfStudents': 971, 'perc...
1         -13.0  [{'year': 2020, 'numberOfStudents': 423, 'perc...

   hasBoundary                        street    city state    zip  zip4  \
0         True  2285 South Federal Boulevard  Denver    CO  80219  5433
1         True           3655 Wyandot Street  Denver    CO  80211  2950

   latLong.latitude  latLong.longitude     countyName           districtName
0           39.6761          -105.0265  Denver County  School District No. 1
1           39.7675          -105.0155  Denver County  School District No. 1

In [94]:
# Now let's look at the 'schoolYearlyDetails' which contains a dictionary, by printing one entry to the console to examine 
print(schooldigger_explode_df['schoolYearlyDetails'][0])

[{'year': 2020, 'numberOfStudents': 971, 'percentFreeDiscLunch': 90.73, 'percentofAfricanAmericanStudents': 4.02, 'percentofAsianStudents': 2.88, 'percentofHispanicStudents': 88.36, 'percentofIndianStudents': 1.24, 'percentofPacificIslanderStudents': 0.0, 'percentofWhiteStudents': 2.99, 'percentofTwoOrMoreRaceStudents': 0.51, 'percentofUnspecifiedRaceStudents': None, 'teachersFulltime': 65.0, 'pupilTeacherRatio': 14.9, 'numberofAfricanAmericanStudents': 39, 'numberofAsianStudents': 28, 'numberofHispanicStudents': 858, 'numberofIndianStudents': 12, 'numberofPacificIslanderStudents': 0, 'numberofWhiteStudents': 29, 'numberofTwoOrMoreRaceStudents': 5, 'numberofUnspecifiedRaceStudents': None}, {'year': 2019, 'numberOfStudents': 952, 'percentFreeDiscLunch': 91.07, 'percentofAfricanAmericanStudents': 3.05, 'percentofAsianStudents': 3.99, 'percentofHispanicStudents': 88.55, 'percentofIndianStudents': 1.05, 'percentofPacificIslanderStudents': 0.0, 'percentofWhiteStudents': 2.63, 'percentofTwoOrMoreRaceStudents': 0.74, 'percentofUnspecifiedRaceStudents': None, 'teachersFulltime': 65.3, 'pupilTeacherRatio': 14.5, 'numberofAfricanAmericanStudents': 29, 'numberofAsianStudents': 38, 'numberofHispanicStudents': 843, 'numberofIndianStudents': 10, 'numberofPacificIslanderStudents': 0, 'numberofWhiteStudents': 25, 'numberofTwoOrMoreRaceStudents': 7, 'numberofUnspecifiedRaceStudents': None}]

The column 'schoolYearlyDetails' is a list of dictionaries. We are going to handle this by first moving it to a series, then dropping the '2019' data. We will drop the '2019' data because we will examine the potential investment properties with their present characteristics, and not look at changes over time.

In [95]:
# Turn the column into a series; and drop the data from 2019. Drop the column from the main schooldigger df which was 
# made into a series. 
details_series = schooldigger_explode_df['schoolYearlyDetails'].apply(pd.Series).reset_index(drop=True)
details_series.drop([1], axis=1, inplace=True)
schooldigger_explode_df.drop(['schoolYearlyDetails'], axis = 1, inplace=True)

In [96]:
# Reset the index of the schoolYearlyDetails series and print the head to the console
details_series.reset_index(drop=True, inplace=True)
print(details_series.head(2), details_series.shape)

                                                   0
0  {'year': 2020, 'numberOfStudents': 971, 'perce...
1  {'year': 2020, 'numberOfStudents': 423, 'perce... (671, 1)

In [97]:
# Concat the main schooldigger df with this details series.
schooldigger_explode_df = pd.concat([schooldigger_explode_df, details_series], axis=1)

In [98]:
# Rename a few of the columns to make it easier to visually parse
schooldigger_explode_df.rename(columns = {0:'Details', 'latLong.latitude':'latitude', 'latLong.longitude':'longitude'},
                               inplace = True)

In [99]:
# create new df of the Details column and use apply(pd.Series), print the column name to pick which we want to keep.
df_deets = schooldigger_explode_df['Details'].apply(pd.Series)
print(df_deets.columns)

Index([                                 0,                 'numberOfStudents',
        'numberofAfricanAmericanStudents',            'numberofAsianStudents',
               'numberofHispanicStudents',           'numberofIndianStudents',
        'numberofPacificIslanderStudents',    'numberofTwoOrMoreRaceStudents',
        'numberofUnspecifiedRaceStudents',            'numberofWhiteStudents',
                   'percentFreeDiscLunch', 'percentofAfricanAmericanStudents',
                 'percentofAsianStudents',        'percentofHispanicStudents',
                'percentofIndianStudents', 'percentofPacificIslanderStudents',
         'percentofTwoOrMoreRaceStudents', 'percentofUnspecifiedRaceStudents',
                 'percentofWhiteStudents',                'pupilTeacherRatio',
                       'teachersFulltime',                             'year'],
      dtype='object')

In [100]:
# Filter the df by the list of columns we wish to keep; Because we are keeping all the % columns and the total column, 
# we can drop the columns containing number (because % * total will give us back number)
list_deets = ['numberOfStudents', 'percentFreeDiscLunch', 'percentofAfricanAmericanStudents', 
                    'percentofAsianStudents', 'percentofHispanicStudents', 'percentofWhiteStudents', 'percentofIndianStudents',
                    'percentofPacificIslanderStudents','percentofTwoOrMoreRaceStudents', 'percentofUnspecifiedRaceStudents',
                    'pupilTeacherRatio', 'year']
df_deets = df_deets[list_deets].reset_index()

In [101]:
# Create 'clean' schooldigger df by concatenating the main schooldigger df and the df_deets column-wise. Drop the
# un-expanded column, 'Details' because it contains information already contained in the df. 
schooldigger_clean = pd.concat([schooldigger_explode_df, df_deets], axis=1)
schooldigger_clean.drop(['Details'], axis = 1, inplace=True)

### 1.5.4 Explore the Cleaned SchoolDigger Data

Now that the data is orderly, we can look at the values within the dataset. It's pretty large at 671 schools, which dwarfs the quantity of the records we have for the investment portfolios. Let's look at some of the data, making sure that it's relevant for our model, which again, is to look at the feeder schools for particular geographical regions. 

Let's start by looking at the 'hasBoundary' column.

In [102]:
# Explore some of the data. What is in the 'hasBoundary' column?
print(schooldigger_clean['hasBoundary'].unique())
(schooldigger_clean['hasBoundary'].values == True).sum()

[ True False]

584

We are interested in schools where the majority of their students are pulled from a boundary area, because if the school draws students from a wide area, it doesn't reflect the characteristics of the neighborhood. It looks like the overwhelming majority of schools in our dataset have boundaried enrollment areas. What does the data look like where 'hasBoundary' is False?

In [103]:
# Filter the schooldigger_clean df for rows where 'hasBoundary' == False 
df = schooldigger_clean[(schooldigger_clean['hasBoundary'].values == False)]
print(df.head(25))

        schoolid                                         schoolName lowGrade  \
7    80258006343                         Adams Youth Service Center        4
8    80690006435                        Adams12 Five Star Preschool       PK
14   80291006750                         Altitude Elementary School       PK
18   80234006625                 Aps Early Beginnings - A Zoom Site       PK
21   80249001219                         Arapahoe Ridge High School        9
43   80336006682                   Bear Valley International School        6
49   80028606742               Betty K Marler Youth Services Center        6
50   80555006671             Big Picture College And Career Academy        9
61   80480001907                           Brady Exploration School        9
75   80336000322              Career Education Center Early College        9
114  80378001310            Colorado's Finest High School Of Choice        9
125  80480006306  Connections Learning Center On The Earle Johns...        6
126  80336000380                      Contemporary Learning Academy        9
154  80336006731                                  Delta High School        9
157  80336006516   Denver Center For 21st-Century Learning At Wyman        6
160  80336006790                     Denver Green School Northfield        6
176  80345001527                                      Eagle Academy        9
181  80654000032                   Early Childhood Education Center       PK
182  80723006799            Early Learning Center at Francis M. Day       PK
183  80723006175              Early Learning Center at Gregory Hill       PK
184  80723006721                 Early Learning Center at Perl Mack       PK
200  80336000345                         Emily Griffith High School        9
203  80378000029  Englewood Early Childhood Education Center At ...       PK
215  80336006599                                      Excel Academy        9
227  80336001575                    Florence Crittenton High School        9

    highGrade      schoolLevel  rankMovement  hasBoundary  \
7          12      Alternative           NaN        False
8          PK  Prekindergarten           NaN        False
14          5       Elementary           NaN        False
18         PK  Prekindergarten           NaN        False
21         12             High         -39.0        False
43          8           Middle           NaN        False
49         12             High           NaN        False
50         12             High           NaN        False
61         12             High           NaN        False
75         12             High           5.0        False
114        12             High         -21.0        False
125         8           Middle           NaN        False
126        12             High         -19.0        False
154        12             High           NaN        False
157        12             High           NaN        False
160         7           Middle           NaN        False
176        12             High           7.0        False
181        PK  Prekindergarten           NaN        False
182        PK  Prekindergarten           NaN        False
183        PK  Prekindergarten           NaN        False
184        PK  Prekindergarten           NaN        False
200        12             High          -6.0        False
203        PK  Prekindergarten           NaN        False
215        12             High           NaN        False
227        12             High          21.0        False

                          street             city state  ...  \
7        1933 East Bridge Street         Brighton    CO  ...
8         1500 East 128th Avenue         Thornton    CO  ...
14   27300 East Southshore Drive           Aurora    CO  ...
18          812 N Jamaica Street           Aurora    CO  ...
21          6600 Arapahoe Avenue          Boulder    CO  ...
43         3005 South Golden Way           Denver    CO  ...
49   7862 West Mansfield Parkway           Denver    CO  ...
50              7350 N. Broadway           Denver    CO  ...
61           5220 W. Ohio Avenue         Lakewood    CO  ...
75             2650 Eliot Street           Denver    CO  ...
114               300 W Chenango        Englewood    CO  ...
125            1200 Johnson Road           Golden    CO  ...
126              200 E. 9th Ave.           Denver    CO  ...
154     655 South Monaco Parkway           Denver    CO  ...
157         1690 Williams Street           Denver    CO  ...
160             5677 N Galena St           Denver    CO  ...
176          9375 Cresthill Lane  Highlands Ranch    CO  ...
181            4100 S. Hazel Ct.        Englewood    CO  ...
182               1740 Jordan Dr           Denver    CO  ...
183           8030 Irving Street      Westminster    CO  ...
184         7125 Mariposa Street           Denver    CO  ...
200             1860 Lincoln St.           Denver    CO  ...
203              3838 S Huron St        Englewood    CO  ...
215        1825 S. Federal Blvd.           Denver    CO  ...
227                55 South Zuni           Denver    CO  ...

    percentofAfricanAmericanStudents percentofAsianStudents  \
7                               7.41                   0.00
8                               1.45                   7.25
14                              4.62                   8.60
18                             20.00                   0.00
21                              1.33                   2.00
43                              2.22                   5.11
49                               NaN                    NaN
50                              0.00                   0.74
61                              1.77                   0.25
75                              0.81                   1.02
114                             2.01                   0.00
125                             0.00                   0.00
126                            41.13                   0.81
154                            16.83                   0.99
157                            35.12                   0.00
160                            21.74                   2.17
176                             2.21                   5.15
181                             7.41                   4.94
182                              NaN                    NaN
183                             1.61                   4.44
184                             0.00                   0.00
200                            20.00                   1.56
203                             3.04                   3.91
215                             2.18                   0.36
227                             8.57                   0.95

     percentofHispanicStudents  percentofWhiteStudents  \
7                        70.37                   14.81
8                        65.22                   25.12
14                       14.38                   64.18
18                       68.57                    0.00
21                       59.33                   33.33
43                       77.56                   12.00
49                         NaN                     NaN
50                       69.12                   22.06
61                       51.39                   39.75
75                       94.09                    3.26
114                      33.78                   61.20
125                      40.91                   47.73
126                      36.29                   13.71
154                      62.38                   17.82
157                      51.71                    8.29
160                      24.64                   39.86
176                      18.38                   67.65
181                      72.22                   13.58
182                        NaN                     NaN
183                      63.71                   25.40
184                      40.91                   54.55
200                      58.70                   15.58
203                      39.13                   49.57
215                      88.00                    6.91
227                      84.76                    4.76

    percentofIndianStudents percentofPacificIslanderStudents  \
7                      0.00                             0.00
8                      0.00                             0.00
14                     0.90                             0.39
18                     0.00                             0.00
21                     2.00                             0.00
43                     0.89                             0.00
49                      NaN                              NaN
50                     0.74                             0.00
61                     2.28                             0.25
75                     0.20                             0.00
114                    0.33                             0.00
125                    4.55                             0.00
126                    2.42                             0.00
154                    0.00                             0.00
157                    1.95                             0.00
160                    0.00                             0.00
176                    0.74                             0.00
181                    0.62                             0.62
182                     NaN                              NaN
183                    0.40                             0.40
184                    0.00                             0.00
200                    0.78                             0.52
203                    0.00                             0.00
215                    0.73                             0.36
227                    0.00                             0.00

     percentofTwoOrMoreRaceStudents  percentofUnspecifiedRaceStudents  \
7                              7.41                               NaN
8                              0.97                               NaN
14                             6.93                               NaN
18                            11.43                               NaN
21                             2.00                               NaN
43                             2.22                               NaN
49                              NaN                               NaN
50                             7.35                               NaN
61                             4.30                               NaN
75                             0.61                               NaN
114                            2.68                               NaN
125                            6.82                               NaN
126                            5.65                               NaN
154                            1.98                               NaN
157                            2.93                               NaN
160                           11.59                               NaN
176                            5.88                               NaN
181                            0.62                               NaN
182                             NaN                               NaN
183                            4.03                               NaN
184                            4.55                               NaN
200                            2.86                               NaN
203                            4.35                               NaN
215                            1.45                               NaN
227                            0.95                               NaN

     pupilTeacherRatio    year
7                  4.5  2020.0
8                 69.0  2020.0
14                19.4  2020.0
18                64.8  2020.0
21                 6.2  2020.0
43                13.0  2020.0
49                 NaN  2020.0
50                11.3  2020.0
61                20.1  2020.0
75                12.4  2020.0
114               14.7  2020.0
125                4.8  2020.0
126                8.4  2020.0
154               14.4  2020.0
157               10.9  2020.0
160               13.0  2020.0
176               10.6  2020.0
181               15.7  2020.0
182                NaN     NaN
183               30.8  2020.0
184                NaN  2020.0
200               20.2  2020.0
203               81.5  2020.0
215               23.3  2020.0
227                9.1  2020.0

[25 rows x 29 columns]

It looks like some of these are preschools, and some appear to be alternative high schools. If a record describes a preschool or an alternative highschool, there is no rank movement *and* the hasBoundary is false. Let's remove the data where 'rankMovement' is NaN, and see how many records of schools without an enrollment boundary remain.

In [104]:
# Filter the schooldigger_clean df on those rows where 'rankMovement' is NaN, and sum the number of 'hasBoundary'==False
schooldigger_clean = schooldigger_clean[~schooldigger_clean['rankMovement'].isnull()]
(schooldigger_clean['hasBoundary'].values == False).sum()

15

That removed all but 15 of the rows where the 'hasBoundary' is false. Let's look at those remaining rows:

In [105]:
# Filter the schooldigger_clean df on 'hasBoundary' == False 
schooldigger_clean[(schooldigger_clean['hasBoundary'].values == False)]

,schoolid,schoolName,lowGrade,highGrade,schoolLevel,rankMovement,hasBoundary,street,city,state,...,percentofAfricanAmericanStudents,percentofAsianStudents,percentofHispanicStudents,percentofWhiteStudents,percentofIndianStudents,percentofPacificIslanderStudents,percentofTwoOrMoreRaceStudents,percentofUnspecifiedRaceStudents,pupilTeacherRatio,year
21,80249001219,Arapahoe Ridge High School,9,12,High,-39.0,False,6600 Arapahoe Avenue,Boulder,CO,...,1.33,2.00,59.33,33.33,2.00,0.00,2.00,NaN,6.2,2020.0
75,80336000322,Career Education Center Early College,9,12,High,5.0,False,2650 Eliot Street,Denver,CO,...,0.81,1.02,94.09,3.26,0.20,0.00,0.61,NaN,12.4,2020.0
114,80378001310,Colorado's Finest High School Of Choice,9,12,High,-21.0,False,300 W Chenango,Englewood,CO,...,2.01,0.00,33.78,61.20,0.33,0.00,2.68,NaN,14.7,2020.0
126,80336000380,Contemporary Learning Academy,9,12,High,-19.0,False,200 E. 9th Ave.,Denver,CO,...,41.13,0.81,36.29,13.71,2.42,0.00,5.65,NaN,8.4,2020.0
176,80345001527,Eagle Academy,9,12,High,7.0,False,9375 Cresthill Lane,Highlands Ranch,CO,...,2.21,5.15,18.38,67.65,0.74,0.00,5.88,NaN,10.6,2020.0
200,80336000345,Emily Griffith High School,9,12,High,-6.0,False,1860 Lincoln St.,Denver,CO,...,20.00,1.56,58.70,15.58,0.78,0.52,2.86,NaN,20.2,2020.0
227,80336001575,Florence Crittenton High School,9,12,High,21.0,False,55 South Zuni,Denver,CO,...,8.57,0.95,84.76,4.76,0.00,0.00,0.95,NaN,9.1,2020.0
238,80480001920,Free Horizon Montessori,PK,8,Elementary,51.0,False,15920 W 10th Ave,Golden,CO,...,0.66,1.53,9.19,83.37,0.00,0.00,5.25,NaN,18.8,2020.0
298,80258000729,Innovations & Options,6,12,High,0.0,False,830 Bridge Street,Brighton,CO,...,1.37,1.02,57.34,36.52,0.68,0.00,3.07,NaN,22.5,2020.0
351,80195001307,Lester R Arnold High School,9,12,High,-14.0,False,6500 East 72nd Avenue,Commerce City,CO,...,1.98,0.00,83.40,13.04,0.79,0.00,0.79,NaN,20.0,2020.0
358,80480000988,Longview High School,9,12,High,-13.0,False,13301 West 2nd Place,Lakewood,CO,...,2.04,4.08,20.41,67.35,0.00,0.00,6.12,NaN,9.8,2020.0
388,80480006163,McLain Community High School,7,12,High,-23.0,False,13600 West 2nd Place,Lakewood,CO,...,1.28,0.51,29.08,64.03,0.51,0.26,4.34,NaN,12.5,2020.0
558,80654006565,Soar Academy,6,12,High,-8.0,False,4107 S. Federal Blvd.,Englewood,CO,...,1.06,0.00,72.34,19.15,4.26,0.00,3.19,NaN,15.6,2020.0
581,80336006491,Summit Academy,6,12,High,-3.0,False,5590 W Evans Ave.,Denver,CO,...,0.90,0.00,92.79,5.86,0.00,0.00,0.45,NaN,10.5,2020.0
623,80690001172,Vantage Point,6,12,High,-20.0,False,10900 Huron Street,Northglenn,CO,...,2.35,2.09,61.36,31.59,1.83,0.26,0.52,NaN,12.8,2020.0

It looks like these are either Montessori, or alternative-style high schools. We may need to just remove all of these, because they aren't regular feeder schools for the areas, but maybe their presence has some effect on the data. We should leave them in for now.

We haven't noticed any missing data of significance in this dataset, but let's check to be sure.

In [106]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#combined_inventory as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([schooldigger_clean.isnull().sum(), round(100 * schooldigger_clean.isnull().mean(), 2)], axis=1)
missing.columns=["Count", "%"]
missing.sort_values('Count', inplace=True, ascending=False)
missing.head(15)

                                  Count       %
percentofUnspecifiedRaceStudents    569  100.00
pupilTeacherRatio                     1    0.18
percentofTwoOrMoreRaceStudents        1    0.18
percentofPacificIslanderStudents      1    0.18
percentofIndianStudents               1    0.18
percentofWhiteStudents                1    0.18
percentofHispanicStudents             1    0.18
percentofAsianStudents                1    0.18
percentofAfricanAmericanStudents      1    0.18
percentFreeDiscLunch                  1    0.18
schoolid                              0    0.00
districtName                          0    0.00
numberOfStudents                      0    0.00
index                                 0    0.00
countyName                            0    0.00

There isn't any data at all in the 'percentofUnspecifiedRaceStudents' column. That column should be removed since it doesn't offer any information. Also, It looks like there may be one record that's missing several fields. Let's look for it:

In [112]:
# Filter schooldigger_clean against the blank column
schooldigger_clean = schooldigger_clean.loc[:, schooldigger_clean.columns != 'percentofUnspecifiedRaceStudents']

In [113]:
# Filter schooldigger_clean for the missing records
schooldigger_clean[schooldigger_clean['pupilTeacherRatio'].isnull()]

,schoolid,schoolName,lowGrade,highGrade,schoolLevel,rankMovement,hasBoundary,street,city,state,...,percentFreeDiscLunch,percentofAfricanAmericanStudents,percentofAsianStudents,percentofHispanicStudents,percentofWhiteStudents,percentofIndianStudents,percentofPacificIslanderStudents,percentofTwoOrMoreRaceStudents,pupilTeacherRatio,year
619,80555000959,Valley View K-8,K,8,Elementary,45.0,True,660 West 70th Avenue,Denver,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.0

There is one record which is missing all the information taken from 'schoolYearlyDetails'. We will leave this record in the dataframe because 'hasBoundary' = True and it has a rankMovement.

### 1.5.5 Save the SchoolDigger Data Locally

In [114]:
# Send the df as a csv to the local drive
schooldigger_clean.to_csv("../data/school_digger.csv", index = False)

## 1.6 Get Current Listing Data - Homes For Sale

### 1.6.1 Load Current Listings from Website

A website that accumulates listings from other MLS-sponsored webpages is used here. It lists a variety of data about each home for sale, because it's sourced from several other websites. Because of this, it's also pretty straightforward to reuse a query from their website. Let's start by importing a file with an HTTP request.

In [115]:
# url of query, using min price of 200k, max of 750k, and the same lat-long shape as used in other queries for this project
url_denverhomes = "https://www.searchdenverhomes.com/api/v2/search/?page=1&city=Denver&list_price_max=750000&neighborhood=all&baths_min=all&beds_min=all&type=res&list_price_min=200000&&per_page=100&latitude_min=39.609319&longitude_min=-105.248336&latitude_max=39.844849&longitude_max=-104.725113"
# Get request and response
r = requests.get(url_denverhomes)
json_data = r.json()
print(r.status_code, type(json_data))

200 <class 'list'>

In [116]:
# Create df from json_data, look at sample record entry
listings_df = pd.DataFrame(json_data, columns=['fields'])
print(listings_df.head(), type(listings_df['fields'][0]))

                                              fields
0  {'living_area_above_ground': {'data': 1008, 'l...
1  {'living_area_above_ground': {'data': 2505, 'l...
2  {'living_area_above_ground': {'data': 2196, 'l...
3  {'living_area_above_ground': {'data': 4129, 'l...
4  {'living_area_above_ground': {'data': 2880, 'l... <class 'dict'>

### 1.6.2 Flatten the Data

All of the listing data is in one column, and the fields consist of a very long dictionary. Let's use json_normalize to flatten the data, separating it into columns that are readable and parsable.

In [117]:
# Because the df consists of dict, use pd.normalize and look at columns
listings_df = pd.json_normalize(listings_df['fields'])

In [118]:
# Make a list of all the column names, because there are a lot
my_list = listings_df.columns.values.tolist()
print(my_list)

['living_area_above_ground.data', 'living_area_above_ground.label', 'list_price.raw', 'list_price.data', 'list_price.label', 'school_district.data', 'school_district.label', 'zoned.data', 'zoned.label', 'total_carport_spaces.data', 'total_carport_spaces.label', 'total_garage_spaces.data', 'total_garage_spaces.label', 'living_area.data', 'living_area.label', 'lot_size.data', 'lot_size.label', 'taxes.data', 'taxes.label', 'baths.data', 'baths.label', 'images.data', 'neighborhood.data', 'neighborhood.label', 'listing_office.data', 'listing_office.label', 'property_id.data', 'city.data', 'city.label', 'style.data', 'style.label', 'mls_number.data', 'mls_number.label', 'zip.data', 'zip.label', 'basement_finished.data', 'basement_finished.label', 'sold_price.data', 'sold_price.label', 'acres.data', 'acres.label', 'state.data', 'state.label', 'sewer.data', 'sewer.label', 'elementary_school.data', 'elementary_school.label', 'contact_url.data.url', 'contact_url.data.show_on_details', 'latitude.data', 'amenities.data', 'amenities.label', 'type.data', 'type.label', 'status.data', 'status.label', 'updated.data', 'location_tags.data', 'square_footage.data', 'square_footage.label', 'sold.data', 'num_fireplaces.data', 'num_fireplaces.label', 'garage_spaces.data', 'garage_spaces.label', 'basement.data', 'basement.label', 'remarks.data.text', 'remarks.data.show_on_list_view', 'subdivision.data', 'subdivision.label', 'rental.data', 'office_name.data', 'office_name.label', 'middle_school.data', 'middle_school.label', 'year_built.data', 'year_built.label', 'disclaimers.data.courtesy_of.html', 'disclaimers.data.courtesy_of.placement', 'disclaimers.data.courtesy_of.mapsearch_placement', 'disclaimers.data.courtesy_of.mega', 'disclaimers.data.disclaimer.html', 'disclaimers.data.disclaimer.mega', 'building_area_total.data', 'building_area_total.label', 'high_school.data', 'high_school.label', 'created.data', 'longitude.data', 'beds.data', 'beds.label', 'subtype.data', 'subtype.label', 'street.data', 'street.label', 'url.data', 'address.data', 'parking_desc.data', 'parking_desc.label', 'hoa_frequency.data', 'hoa_frequency.label', 'hoa_fees.data', 'hoa_fees.label', 'view.data', 'view.label', 'fee_includes.data', 'fee_includes.label', 'list_price_change.data.date', 'list_price_change.data.amount', 'list_price_change.data.direction', 'list_price_change.label']

### 1.6.3 Narrow Down the Data: What are we looking for?

There's a lot of extra data here which we aren't going to include in our model for possible future rental homes. For example, we don't need any of the columns which keep record-keeping data, such as labels, from the source website. We don't need any contact information, disclaimers, or URLs. We do require information about the physical characteristics of each property, similar in scope to the data we have already collected from the investment profile, and we need any information which contributes to the cost of ownership (list price, HOA if any, and annual taxes).

In [119]:
# Filter the df for just the columns we want
listings_df = listings_df[['list_price.raw', 'school_district.data','taxes.data',
                          'baths.data', 'city.data', 'zip.data','elementary_school.data', 'latitude.data', 
                          'square_footage.data','middle_school.data',
                          'high_school.data', 'longitude.data','beds.data', 'street.data', 'hoa_fees.data',
                          'hoa_frequency.data']]

In [120]:
# Rename a few of the columns to make it easier to visually parse
listings_df.rename(columns = {'list_price.raw':'listPrice', 'school_district.data':'district', 'living_area.data':'livingArea',
                              'taxes.data':'taxes', 'baths.data':'baths', 'city.data':'city', 'zip.data':'zip',
                              'elementary_school.data':'elementarySchool', 'latitude.data':'lat', 'longitude.data':'lng', 
                              'square_footage.data':'sqft', 'middle_school.data':'middleSchool', 'high_school.data':'highSchool',
                              'beds.data':'beds', 'street.data':'address', 'hoa_fees.data':'hoaFees', 'hoa_frequency.data':'hoaFreq'},
                               inplace = True)
print(listings_df.head())

   listPrice              district   taxes  baths         city    zip  \
0     750000              Denver 1  $3,487    1.0       Denver  80209
1     750000  Jefferson County R-1  $4,114    3.0  Wheat Ridge  80033
2     750000              Denver 1  $2,390    4.0       Denver  80236
3     750000              Denver 1  $5,182    4.0       Denver  80249
4     750000  Jefferson County R-1  $3,880    3.0       Golden  80401

  elementarySchool        lat   sqft middleSchool                  highSchool  \
0          Lincoln  39.708687  1,008        Grant                       South
1     Kullerstrand  39.766698  3,805      Everitt                 Wheat Ridge
2           Kaiser  39.643314  3,110        Henry             John F. Kennedy
3           Waller  39.797181  5,193      McGlone  Noel Community Arts School
4           Stober  39.744142  2,880      Everitt                 Wheat Ridge

          lng  beds                  address hoaFees   hoaFreq
0 -104.979434   2.0  433 S Washington Street     NaN       NaN
1 -105.137058   5.0        3651 Vivian Court     NaN       NaN
2 -105.047081   4.0     4631 W Oxford Avenue     $35  Annually
3 -104.764487   7.0       19095 Robins Drive      $0       NaN
4 -105.144690   3.0       1730 Zinnia Street     NaN       NaN

In [122]:
# Reorder the columns to make more sense
listings_ordered = listings_df.loc[:, ['address', 'city', 'zip', 'beds', 'baths', 'sqft', 'listPrice', 'taxes', 
                                       'hoaFees', 'hoaFreq','lat', 'lng', 'district', 'elementarySchool', 'middleSchool',
                                      'highSchool']]

### 1.6.4 Explore the Cleaned For-Sale Listings

We can see from the small snippet of code that there are missing values in the hoaFees column. Let's look at those unique values.

In [123]:
# Show the unique values present in the 'hoaFees column'
listings_ordered['hoaFees'].unique()

array([nan, '$35', '$0', '$115', '$81', '$170', '$55', '$795', '$249',
       '$100', '$160', '$150', '$79', '$20', '$65', '$195', '$185'],
      dtype=object)

Let's change all the NaN to $0 so that the data is consistent.

In [124]:
# Use fillna to replace NaN with '$0'
listings_ordered['hoaFees'].fillna('$0',inplace=True)

We need to be able to calculate a capitalization rate on proposed properties. There should be a value in the 'hoaFees' column where there is a value in the 'hoaFreq' column. Let's look at the unique values in the 'hoaFreq' column:

In [125]:
# how many values in 'hoaFreq' are not NaN?
listings_ordered['hoaFreq'].count(), listings_ordered['hoaFreq'].unique()

(25,
 array([nan, 'Annually', 'Monthly', 'Quarterly', 'Semi-Annually'],
       dtype=object))

In [126]:
# fill Nan in 'hoaFreq' with 'N/A'
listings_ordered['hoaFreq'].fillna('N/A', inplace=True)

In [127]:
# Are there any cases where there is an hoaFee, but no corresponding frequency value?
listings_ordered.loc[(listings_ordered['hoaFees'].isin(['$0'])) & (listings_ordered['hoaFreq'] != 'N/A')]

Empty DataFrame
Columns: [address, city, zip, beds, baths, sqft, listPrice, taxes, hoaFees, hoaFreq, lat, lng, district, elementarySchool, middleSchool, highSchool]
Index: []

Now that we have the HOA data cleaned up, let's look at missing values.

In [128]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#combined_inventory as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([listings_ordered.isnull().sum(), round(100 * listings_ordered.isnull().mean(), 2)], axis=1)
missing.columns=["Count", "%"]
missing.sort_values('Count', inplace=True, ascending=False)
missing.head(15)

                  Count    %
beds                  2  2.0
baths                 2  2.0
sqft                  1  1.0
taxes                 1  1.0
district              1  1.0
elementarySchool      1  1.0
middleSchool          1  1.0
highSchool            1  1.0
address               0  0.0
city                  0  0.0
zip                   0  0.0
listPrice             0  0.0
hoaFees               0  0.0
hoaFreq               0  0.0
lat                   0  0.0

Let's look at those records with missing data. There are only a couple.

In [129]:
# Filter on 'beds' field missing
listings_ordered[listings_ordered['beds'].isnull()]

,address,city,zip,beds,baths,sqft,listPrice,taxes,hoaFees,hoaFreq,lat,lng,district,elementarySchool,middleSchool,highSchool
35,3411 N Larimer,Denver,80205,NaN,NaN,825,699999,"$1,970",$0,N/A,39.766372,-104.975638,Denver 1,Cole Arts And Science Academy,Cole Arts And Science Academy,Manual
77,2215 S Sheridan Boulevard,Denver,80227,NaN,NaN,NaN,650000,NaN,$0,N/A,39.675443,-105.053620,NaN,NaN,NaN,NaN

Remove those records; one has very few data points (2215 S Sheridan) and the other doesn't have beds/baths listed online, either.

In [130]:
listings_ordered = listings_ordered[~listings_ordered['beds'].isnull()]
listings_ordered.shape

(98, 16)

### 1.6.5 Save the Homes For Sale data locally

In [132]:
listings_ordered.to_csv('../data/denverlistings.csv')